

body {
    margin-top: 0;
   padding-top: 0;
   font-family: 'Quicksand', sans-serif;
}

.header_info{
    text-align: center;
    float: left;
    width: 40%;
    overflow: hidden;
}

.header_info_left{
    float: left;
    width: 20%;
    overflow: hidden;
}

.header_info_middle{
    float: left;
    text-align: center;
    width: 45%;
    overflow: hidden; 
}



.header_info_right{
    float: right;
    width: 20%;
    overflow: hidden;  
}

.button_holder{
    margin: auto;
    padding: 15px;
   overflow: hidden;
}
header{
    padding-left: 10%;
    background-color: white;
    height: 100px;
    overflow: hidden;
}

.ticket_holder{
    width: 40%;
    float: left;
    overflow: hidden;
    
}

.map_ticket_holder{
    width: 95%;
    margin: auto;
    overflow: hidden;
    padding: 15px;
}