/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Jun 2018, 8:49:46 PM
    Author     : Haich
*/


.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    z-index: -100;
    margin: 0;
   padding: 0;
}

.fullscreen-bg-gif{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.company_font{  
    font-size: 68px ;
}

.white_text{
   font-family: 'Quicksand', sans-serif;
   color: white;
}

.black_text{
  font-family: 'Quicksand', sans-serif;
   color: black;  
}

.align_center_text{
    text-align: center;
}

.align_left_text{
    text-align: left;
}
.paragraph_text{
    font-family: 'Abel', sans-serif;
    color: black;
}
/*Clock section*/


.time-holder{
    overflow: hidden;
    width: 90%;
    margin: auto;
    padding: 8px;
   
}
.countdown-container {
font-family: 'Century Gothic';
}
.clock-item .inner {
height: 0px;
padding-bottom: 100%;
position: relative;
width: 100%;
}
.clock-canvas {
background-color: rgba(255, 255, 255, .5);
border-radius: 50%;
height: 0px;
padding-bottom: 100%;
}
.text {
color: #fff;
font-size: 30px;
font-weight: bold;
margin-top: -50px;
position: absolute;
top: 50%;
text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
width: 100%;
}
.text .val {
font-size: 50px;
}
.text .type-time {
font-size: 20px;
}
 @media (min-width: 768px) and (max-width: 991px) {
.clock-item {
margin-bottom: 30px;
}
}
 @media (max-width: 767px) {
.clock-item {
margin: 0px 30px 30px 30px;
}
}

/*============= Bouncing Arrow===========*/


.about_us_btn{
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: 'New Drop Era';
}

.about_us_btn a {
    border-width: 2px;
    border-style: solid;
    padding: 6px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.arrow_holder{
    width: 100%;
    padding: 5px;
    margin: auto;
    overflow: hidden;
}


.arrow {
 color: white;
  text-align: center;
  margin: 8% 0;
}

.arrow_holder p {
   color: white;
   
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* ============= Birthday Section ==========*/
.birthday-holder{
    background-color: white;
    overflow: hidden;
    width: 100%;
    padding: 8px;
    margin: 0;
    height: 700px !important;
}

.section_two{
   color: black;
}

.normal_text{
    font-size: 30px;
}

.image_middle_holder{
    margin: auto;
    width: 20%;
    padding: 5px;
    overflow: hidden;
}

.birthday_gallery_holder{
    width: 80%;
    height: auto;
    margin: auto;
}



/*================== What's new  section '*/
.new_adds{
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 5px;

  overflow: hidden;
}

.new-stuff-content{
    width: 75%;
    margin: auto;
    padding: 8px;
    font-family: 'Century Gothic';
    color: black;
    font-size: 21px;
    overflow: hidden;
}

/*================== Gettings started */
.get_start_holder{
    width: 100%;
    margin: 0;
    overflow: hidden;
    
}

.map_holder{
    width: 55%;
    float: left;
    overflow: hidden;
     border-right-style: solid;
    border-right-color: grey;
}

.map_holder iframe{
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.map_balancer{
    width: 100%;
    margin: auto;
    padding: 5px;
   
    overflow: hidden;
}


.stakeholder{
    background-color: white;
    color: black;
    overflow: hidden;
    width: 100%;
}

.vendors_holder{
    color: black;
    width: 100%;
    padding: 10px;
    margin: auto;
    overflow: hidden;
    background-color: white;
    
}
.card_a {
    background-color: white;
    float: left;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 50%;
    text-align: center;
    overflow: hidden;
}
.round {
    margin-left: 20px;
    margin-right: 20px;
    float:left;
    width: 10%;
    text-align: center;
    overflow: hidden;
    border-radius: 0px;
}

.round img{
    max-width: 100%;
    height: auto;
}

.carousel-cell.round{
  display: block;
  width: 80%;
  max-height: 100%;
}
.carousel-cell.is-selected .round {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}
.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover, a:hover {
    opacity: 0.7;
}

/*========= Sponsors  =======*/
.sponsors_holder{
    width: 100%;
    margin: 0;
    background: white;
    overflow:hidden;
    text-align: center;
}

.loader_holder{
    width: 20%;
    margin: auto;
    padding: 10px;
}
.loader {
   border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #909090;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

#pagination div { display: inline-block; margin-right: 5px; margin-top: 5px }
	#pagination .cell a { border-radius: 3px; font-size: 11px; color: #333; padding: 8px; text-decoration:none; border: 1px solid #d3d3d3; background-color: #f8f8f8; }
	#pagination .cell a:hover { border: 1px solid #c6c6c6; background-color: #f0f0f0;  }
	#pagination .cell_active span { border-radius: 3px; font-size: 11px; color: #333; padding: 8px; border: 1px solid #c6c6c6; background-color: #e9e9e9; }
	#pagination .cell_disabled span { border-radius: 3px; font-size: 11px; color: #777777; padding: 8px; border: 1px solid #dddddd; background-color: #ffffff; }
        
      /*Scrollable vendors section ========================*/
 .carousel-cell {
  width: 50%;
  height: auto;
  /* flex-box, center image in cell */
/*  display: -webkit-box;
  display: -webkit-flex;*/
  display:         flex;
/*  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;*/
}

.carousel-cell .card_a {
  display: block;
  width: 80%;
  max-height: 100%;
  /* dim unselected */
 /* opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;*/
}

/* brighten selected image */
.carousel-cell.is-selected .card_a {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
      width: 50%;
      height: auto;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 40%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; 
display: none;
}
.flickity-prev-next-button.next { right: 0;
 display: none;
 }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.flickity-page-dots{
display: none;
}

.js-flickity{
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}
      /*End scrollable vendors section*/
        
        @media only screen and (max-width: 600px) {
          .fullscreen-bg{
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            overflow: hidden;
            z-index: -100;
            margin: 0;
           padding: 0;
          }
          .fullscreen-bg {
            position: absolute;
            height: 300%;
            top: 0;
            width: 300%;
            left: 0%;
            bottom: 0;
            overflow: hidden;
          }
}  
        @media only screen and (max-width: 600px) {
            .clock-item{
                width: 40%;
                height: 20%;
                margin: 10px;
                padding: 15px;
                overflow: hidden;
                float: left;
            }
            .time-holder{
                width: 100%;
                height: 100%;
                margin: auto;
                padding: 10px;
                overflow: hidden;
            }
            .card_a{
                width: 100%;
                overflow: hidden;
            }
            .carousel-cell{
                width: 80%;
               height: auto;
            }
            
            .round{
                width: 100%;
                overflow: hidden;
                display: inline-block;
            }
            .sponsors_holder{
                width: 100%;
                overflow: hidden;
            }
            .flex-right{
                display: flex;
                width: 100%;
                overflow-x: scroll;
            }
            
            .force_flex{
                width: 80%;
                height: auto;
            }
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    height: 100%;
    width: 100%
}

.pagination_content{
    width: 50%;
    margin: auto;
    padding: 20px;
    overflow: hidden;
}